* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #fffff8;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	background: #efefef;
	color: #ccc;
	height: 100vh;
	position: relative;
}
.app {
	width: 90vw;
	margin: 0 auto;
}
.headline {
	margin-bottom: 20px;
}
.headline__title {
	text-shadow: 1px 2px rgb(255, 255, 255, 0.5);
}
.container {
	display: flex;
	flex-direction: row;
}
.post-journal,
.entry {
	flex: 1;
}
.title__heading {
	font-weight: normal;
	font-size: inherit;
	line-height: 1em;
	margin-bottom: 8px;
}
.zip,
.feel {
	margin-bottom: 20px;
}
.entry {
	display: flex;
	flex-direction: column;
}
.entry-container {
	background: #fff;
	height: 100%;
	padding: 10px;
	box-shadow: 1px 0 2px 0 rgb(0, 0, 0, 0.05);
	color: #7a7a7a;
}
.post-journal {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-right: 30px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	line-height: 1em;
	margin-bottom: 8px;
}
input,
textarea {
	box-shadow: 1px 0 2px 0 rgb(0, 0, 0, 0.05);
	border: none;
	font-family: inherit;
	width: 100%;
	color: #7a7a7a;
	padding: 10px;
}

input {
	display: block;
}

button {
	padding: 15px 10px;
	text-align: center;
	background: #22b2da;
	color: #d2eff7;
	border: none;
	cursor: pointer;
	box-shadow: 0 3px #318ea5;
}

textarea {
	font-family: inherit;
	padding: 10px;
	width: 100%;
	border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: #ccc;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
}

::-ms-input-placeholder {
	/* Microsoft Edge */
}
.hide {
	display: none;
}
span {
	font-size: 70%;
	display: block;
	color: #22b2da;
	line-height: 1.5em;
}
#date {
	margin-bottom: 1em;
}
#content {
	margin-top: 1em;
}
@media screen and (min-width: 640px) {
	.app {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
}
@media screen and (max-width: 639px) {
	.app {
		padding: 20px 0;
	}
	.container {
		flex-direction: column;
	}
	.post-journal {
		margin-right: 0;
	}
	.entry {
		margin: 20px 0 0 0;
	}
}
